header{
    display: flex;
    flex-direction:column;
    margin:10px;
    align-items:center;
    justify-content:center;
}

header img{
    width: 13%;
    margin: 10px;
}

header nav ul{
    display:flex;
    flex-direction:row;
}

header nav ul li{
    list-style-type: none;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
}


header span{
    width:80%;
    border:1px solid black;
    margin:10px;
}