@import url(header.css);
@import url(main.css);
@import url(primeira_section.css);
@import url(segunda_section.css);
@import url(terceira_section.css);
@import url(inscricao.css);
:root {
    --primary-font: "Krona One", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --azulclaro-color:#4E75FF;
    --azulescuro-color:#4163DA;
}

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color:#E8F5C8;
}